/* Custome container
============================================================================================ */

@media (min-width:1260px){
    .custom-container{
        min-width: 1260px;
        margin: 0 auto;  
    }
} 
.sub-container{
    padding: 0 165px;
}

/* Prefix Styles css
============================================================================================ */
.m0{margin: 0;}
.p0{padding: 0;}
.row.m0{
    padding: 0px;
    margin: 0px;
} 
body{
	font-family: $fira;
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
	p{
		font-family: $muli;
		line-height: 25px;
		color: $p;
        margin: 0; 
	} 
	/*Section Fix*/
	section, header, footer{
		&.row{            
			margin: 0; 
		}
	} 
}
/*Ancore*/
a,.btn,button{
    outline: none;
    @include transition;
    &:before,&:after{
        @include transition;
    }
    &:focus,&:hover{  
        outline: none;
        text-decoration: none;
        @include transition; 
    }
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}  
/* End Prefix Styles css
============================================================================================ */

/* Check_tittle
============================================================================================ */
.check_tittle{ 
    text-align: center;
    display: block; 
    h4{
        font: 400 16px $muli;
        color: $p;
    }
    h2{
        text-align: center;
        font: 700 48px $fira;
        color: $heading;
        padding-top: 20px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 160px;
            height: 6px;
            background: $hover; 
            left: 50%;
            transform: translateX(-50%);
            bottom: -35px;
        }
    }
} 
/* End Check_tittle
============================================================================================ */  
